{% extends "shared/_layout.html" %}
{% block main_content %}
    <div class="card bg-light shadow text-center mt-5">
        <div class="card-body" style="background-color: #e9fdff;">
            <img src="/static/img/glaceon-icon.png" alt="A shiny Glaceon." class="card-text">
            <h1 class="card-title">glaceon.live</h1>
            <p class="card-text">A cool streaming service for cool people.</p>
            <a href="https://social.blueraccoon.online/@frinkel" class="btn" style="background-color: #2b74af; color: #ffffff;">Contact Frinkel to join</a>
        </div>
    </div>
{% endblock %}